/* .list
{
background-color:#ffffff;
height:1080px;
width:1500px;
filter:drop-shadow(0px 2px 4px rgba(0,0,0,0.05999999865889549));
padding:0px;
display:flex;
flex-direction:column;
left:264px;
position:relative;
}
.header
{
background-color:#ffffff;
height:60px;
width:1500px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
position:relative;
}
.left
{
height:28px;
width:97px;
align-self:flex-start;
left:16px;
top:16px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.title
{
height:28px;
width:97px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.allprojects
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
line-height:28px;
border-style:hidden;
outline:none;
width:97px;
align-self:center;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.right
{
height:28px;
width:369px;
align-self:flex-start;
left:1115px;
top:16px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-end;
gap:16px;
}
.field
{
background-color:#ffffff;
height:28px;
width:240px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.fieldmaster
{
background-color:#ffffff;
height:28px;
width:240px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.07000000029802322));
border-radius:100px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.search
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:224px;
display:flex;
}
.buttonset
{
height:28px;
width:113px;
align-self:flex-start;
left:256px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
}
.button2
{
background-color:#ffffff;
height:28px;
width:113px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.buttonmaster
{
background-color:#3b82f6;
height:28px;
width:113px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.07000000029802322));
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
border-style:hidden;
outline:none;
}
.text
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:97px;
display:flex;
}
.row
{
background-color:#ffffff;
height:48px;
width:1500px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
position:absolute;
top:60px;
left:0px;
}
.รหัสสินค้า
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:16px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:116px;
display:flex;
}
.ชื่อสินค้า
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:181px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:121px;
display:flex;
}
.ประเภทสินค้า
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:351px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:156px;
display:flex;
}
.ตัวแทนจัดจำหน่าย
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:556px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:192px;
display:flex;
}
.ราคา
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:797px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:150px;
display:flex;
}
.หน่วยนับ
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:996px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:117px;
display:flex;
}
.edit
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:1162px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:142px;
display:flex;
}
.delete
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Inter;
align-self:flex-start;
left:1352.99px;
top:16px;
position:absolute;
line-height:16px;
border-style:hidden;
outline:none;
width:131px;
display:flex;
}
.data_row
{
background-color:#ffffff;
height:972px;
width:1500px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:flex-start;
gap:90px;
position:absolute;
top:108px;
left:0px;
}
.num
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:16px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:72px;
display:flex;
}
.product
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:178px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:102px;
display:flex;
}
.type
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:370px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:119px;
display:flex;
}
.dealer
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:579px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:129px;
display:flex;
}
.price
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:798px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:114px;
display:flex;
}
.count
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:1002px;
top:16px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:46px;
display:flex;
} */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* @font-face {
    font-family: 'Taviraj';
    src: url('./node_modules/pdfmake/examples/fonts') format('truetype');
  } */