.list
{
background-color:#ffffff;
height:840px;
width:1160px;
filter:drop-shadow(0px 2px 4px rgba(0,0,0,0.05999999865889549));
border-radius:16px 16px 0px 0px;
padding:0px;
display:flex;
flex-direction:column;
left:261px;
top:52px;
position:relative;
}
.header
{
background-color:#ffffff;
height:60px;
width:1160px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
position:relative;
}
.left
{
height:28px;
width:97px;
align-self:flex-start;
left:16px;
top:16px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
gap:8px;
}
.title
{
height:28px;
width:97px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.allprojects
{
color:#52525b;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
line-height:28px;
border-style:hidden;
outline:none;
width:97px;
align-self:center;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.right
{
height:28px;
width:382px;
align-self:flex-start;
left:762px;
top:16px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-end;
gap:16px;
}
.field
{
background-color:#ffffff;
height:28px;
width:240px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.fieldmaster
{
background-color:#ffffff;
height:28px;
width:240px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.07000000029802322));
border-radius:100px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
}
.searchprojects
{
color:#d1d5db;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:224px;
display:flex;
}
.buttonset
{
height:28px;
width:126px;
align-self:flex-start;
left:256px;
top:0px;
position:absolute;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:16px;
}
.button2
{
background-color:#ffffff;
height:28px;
width:126px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
}
.buttonmaster
{
background-color:#3b82f6;
height:28px;
width:126px;
filter:drop-shadow(0px 1px 2px rgba(0,0,0,0.07000000029802322));
border-radius:4px;
padding-left:8px;
padding-right:8px;
padding-top:4px;
padding-bottom:4px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:relative;
border-style:hidden;
outline:none;
}
.icon
{
background-color:#ffffff;
height:20px;
width:20px;
align-self:flex-start;
left:8px;
top:4px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.vector
{
background-color:#ffffff;
height:10px;
width:10px;
width:10px;
height:10px;
left:5px;
top:5px;
width:10px;
height:10px;
position:absolute;
}
.text
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Inter;
align-self:flex-start;
left:36px;
top:4px;
position:absolute;
line-height:20px;
border-style:hidden;
outline:none;
width:82px;
display:flex;
}
.row
{
background-color:#ffffff;
height:52px;
width:1160px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
position:absolute;
top:60px;
left:0px;
}
.row2
{
background-color:#ffffff;
height:52px;
width:1160px;
padding:16px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:center;
position:absolute;
top:112px;
left:0px;
}


.typeGreen
{
background-color:#16a34a;
height:46px;
width:127px;
border-radius:30px;
padding-left:35px;
padding-right:35px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
}
.buttonGreen
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:18px;
font-family:Inter;
align-self:flex-start;
left:35px;
top:12px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:57px;
display:flex;
}
table {
    width: 100%;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}