<!--<table class="table">
    <thead>
      <tr>
        <th scope="col">รหัสตัวแทนจัดจำหน่าย</th>
        <th scope="col">ชื่อตัวแทนจัดจำหน่าย</th>
        <th scope="col">ที่อยู่</th>
        <th scope="col">เบอร์โทรศัพท์</th>
        <th scope="col">ลบข้อมูล</th>
        <th scope="col">แก้ไขข้อมูล</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let dealerData of read_dealer_Data">
          <th scope="row">{{dealerData.dealer_id}}</th>
          <td>{{dealerData.dealer_name}}</td>
          <td>{{dealerData.address}}</td>
          <td>{{dealerData.tel}}</td>
          <td><button class="btn btn-sm btn-danger" (click)="deleteDealerData(dealerData.dealer_id)">Delete
          </button></td>
          <td><a [routerLink]="['/DealerForm',dealerData.dealer_id]" class="btn btn-sm btn-success">Update</a></td>
      </tr>
      <a [routerLink]="['/DealerForm']" class="btn btn-success">เพิ่มข้อมูล</a>
    </tbody>
  </table> -->

  <div class="container">
    <h1>ข้อมูลผู้จัดจำหน่าย</h1>
    
      <input class="form-control me-2" type="text" (keyup)="applyFilter($event)" placeholder="ค้นหาข้อมูลพนักงาน">
    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  table">
    
      <ng-container matColumnDef="dealer_id">
        <th mat-header-cell *matHeaderCellDef> รหัสตัวแทนจัดจำหน่าย </th>
        <td mat-cell *matCellDef="let element"> {{element.dealer_id}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="dealer_name">
        <th mat-header-cell *matHeaderCellDef> ชื่อตัวแทนจัดจำหน่าย </th>
        <td mat-cell *matCellDef="let element"> {{element.dealer_name}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> ที่อยู่ </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> เบอร์โทร </th>
        <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> แก้ไข/ลบ ข้อมูล </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="btn btn-sm btn-success" [routerLink]="['/DealerForm',element.dealer_id]"><mat-icon>edit</mat-icon></button>
          <button mat-button class="btn btn-sm btn-danger" (click)="deleteDealerData(element.dealer_id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <a><button [routerLink]="['/DealerForm']" class="btn btn-success">เพิ่มข้อมูลข้อมูลผู้จัดจำหน่าย</button></a>&nbsp;
    <a><button (click)="generate_DealerPDF()" class="btn btn-warning">ดาวน์โหลดข้อมูลผู้จัดจำหน่ายทั้งหมด</button></a>
    </div>